* {
    box-sizing: border-box;
    margin: 0;
    /* padding: 0; */
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-card-entry {
    margin-left: 10px
}

.input-error {
    border-color: "#fc8181"
}

.error {
    padding-top: 2px;
    color: #ff0000;
}

.label-font {
    font-family: 'Open Sans', sans-serif;
}